@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://use.fontawesome.com/releases/v5.11.2/css/all.css');

body{
    
    .upper_navbar{
        font-family: 'Josefin Sans', sans-serif !important;
        
        @media (max-width: 991px) {
        background-color: var(--primary-color) !important;
    }

    .navbar{
        background-color: var(--primary-color) !important;
        margin-bottom: 1px;
        
        .navbar-collapse{

            .navbar-nav{
                


                .menu{
                    background-color: var(--secondary-color);
                    color: #fff;


                    @media (max-width: 991px) {
                        position: absolute;
                        top: 55px;
                        right: 10px;
                    }

                    .caret_down{
                        display: inline-block;
                        width: 0;
                        height: 0;
                        margin-left: 2px;
                        vertical-align: middle;
                        border-top: 4px dashed;
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;                        
                    }
                    .caret_up{
                        display: inline-block;
                        width: 0;
                        height: 0;
                        margin-left: 2px;
                        vertical-align: middle;
                        border-bottom: 4px dashed;
                        border-right: 4px solid transparent;
                        border-left: 4px solid transparent;                        
                    }

                        
                }

                .login_body{
                    position: absolute;
                    top: 60px;
                    right: 5px;
                    z-index: 1;
                    padding-left: 10px !important;
                    padding-right: 10px !important;
                    width: 275px !important;
                    border-radius: 10px !important;
                    padding-top: 55px !important;
                    background-color: var(--secondary-color);

                    @media (max-width: 991px) {
                        top: 105px;
                        right: 0;
                    }

                    .title{
                        margin: 50px auto 50px !important;
                        font-size: 2em !important;
                        text-align: center !important;
                        color: var(--primary-color);
                        font-weight: bold !important;                            
                    }
                    
                    
                    .username1{
                        height: 50px !important;
                        line-height: 50px !important;
                        border-radius: 10px !important;
                        padding: 10px !important;
                        margin-bottom: 20px !important;
                        outline: none !important;
                    
                        &::placeholder{
                            font-size: 1.1em !important
                        }
                    }
                    .password1{
                        height: 50px !important;
                        line-height: 50px !important;
                        border-radius: 10px !important;
                        padding: 10px !important;
                        margin-bottom: 20px !important;
                        outline: none !important;
                    
                        &::placeholder{
                            font-size: 1.1em !important
                        }
                    }
                    .login1{
                        border-radius: 10px !important;
                        background-color: var(--primary-color) !important;
                        color: var(--secondary-color) !important;
                    }
                    
                    .other_login{
                        color: var(--primary-color) !important;
                    
                    }
                    
                    .other_login_icons{
                        display: flex !important;
                        justify-content: center !important;
                        background-color: var(--primary-color) !important;
                        padding: 5px !important;
                        border-radius: 5px !important;   
                        
                        a{
                            margin: 0 5px !important;
                            position: static !important;
                    
                            img{
                                filter: grayscale(50%) !important;
                                transition: 0.25s !important;
                                
                                &:hover{
                                    filter: grayscale(0) !important
                                }
                            }
                        }
                    
                    }
                    .sign_up{
                        background-color: var(--primary-color);
                        color: var(--secondary-color);
                    }
                    
                    
                }
                a{
                    width: fit-content !important;
                    
                    @media (min-width: 992px) {
                        margin-left: 50px;
                    }
                
                    i.fa-shopping-cart{
    
                        @media (max-width: 575px) {
                            width: fit-content;
                            position: relative;
                            top: 2px;
                            right: -30px; 
                        }
                        @media (min-width: 576px) and (max-width: 991px){
                            width: fit-content;
                            position: relative;
                            top: 0;
                            right: -50px; 
                        }
                    }
                }                
            }
            
            .search_bar{

                @media (max-width: 991px) {
                    flex-direction: row;
                }
                
                .search_input{
                    width: 300px !important;
                    
                    @media (max-width: 991px) {
                        margin-right: 5px !important;
                        width: 200px !important;
                    }
                    
                }

                    // &::placeholder{
                        
                    // }
                    .search{
                        color: #ffffff !important;
                        background-color: var(--secondary-color) !important;
                        border-color: var(--secondary-color) !important;
                    }
            }
        }    
    }
        
        .hamburger{
            
            
            span{
                width: 20px !important;
                height: 2px !important;
                content: '' !important;
                display: block !important;
                border: 1px solid var(--secondary-color) !important;
                margin-top: 4px !important;
                margin-bottom: 4px !important;
            }
        }
    }
}

