
.lower_navbar{
    background-color: var(--secondary-color);

    .list{
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;

        @for $i from 1 to 7{
        
            .button_#{$i}{
                width: 165px;
                position: relative;

                @media (max-width: 1199px) {
                    width: 135px;
                }

                &:hover .img-cont_#{$i}{
                    display: flex;
                    // justify-content: flex-start;

                }
                

                .img-cont_#{$i}{
                    list-style: none;
                    position: absolute;
                    top: 35px;
                    left: 60px - ($i*140);
                    width: 950px;
                    border-radius: 5px;
                    display: none;

                    &::after{
                        content: "";
                        position: absolute;
                        top: -8px;
                        left: 30px + ($i*140);
                        z-index: 1;
                        margin-left: -10px;
                        width: 0;
                        height: 0;
                        border-left: 10px solid transparent;
                        border-right: 10px solid transparent;
                        border-bottom: 10px solid #fff;
                        // display: none;
                        display: block;

                        @media (max-width: 1199px) {
                            left: 30px + ($i*140);
                        }   
                    }
                }

                .title{
                    color: var(--secondary-color);
                    font-size: 1.1em;
                    text-decoration: none;

                    @media (max-width:1199px) {
                        font-size: 1em;

                    }
                }
            }
        }
        
        .mini-menu{

            .tablist{

                .card-main{

                    .card_header_main{

                        .btn_main{


                        }
                    }

                    .collapse_main{

                        .card_body_main{

                            a{

                                img{
                                    transition: 0.2s;

                                    &:hover{
                                        transform: scale(1.05);
                                        border: 1px solid #000;
                                        box-shadow: 5px 5px 20px #111;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .hamburger{
        border: 1px solid var(--primary-color) !important;
        outline: none;
            
        span{
            width: 20px !important;
            height: 2px !important;
            content: '' !important;
            display: block !important;
            border: 1px solid var(--primary-color) !important;
            margin-top: 4px !important;
            margin-bottom: 4px !important;
        }
    }
    .slide-enter-active, .slide-leave-active {
    transition: opacity 0.5s;
    }
    .slide-enter, .slide-leave-active /* .slide-leave-active below version 2.1.8 */ {
    opacity: 0;
    }
}